<div class="container">
    <div class="to-do-list" id="cat-list">
        <!-- <app-to-do [todo]="todos[0]" (delete_ToDo) = "deleteTOdoFunc($event)"></app-to-do>
        <app-to-do [todo]="todos[1]" (delete_ToDo) = "deleteTOdoFunc($event)"></app-to-do>
        <app-to-do [todo]="todos[2]" (delete_ToDo) = "deleteTOdoFunc($event)"></app-to-do> -->
        
        <!-- <app-custom-input [disabledProp]= "disabled"></app-custom-input>
        <button (click)="disabled = !disabled">toogle disabled</button> -->
    </div>
    
</div>
<!-- <p>Parent counter {{counter}}</p>
<button (click)="counter = counter + 1">Parent button</button>
<app-counter [counterStartValue]="counter" (counterChanged)="counter = counter + 1" (counterEntered)="onCounterEntered($event)" ></app-counter> -->

<div class="app-user">
    <app-app-user *ngFor="let userFromArray of users" [appuser]="userFromArray">User1</app-app-user>
    <!-- <app-app-user [appuser]="users[0]">User2</app-app-user>
    <app-app-user [appuser]="users[1]">User2</app-app-user>
    <app-app-user [appuser]="users[2]">User3</app-app-user> -->
</div>